!!! 5
<!--[if lte IE 8]><html lang="en" class="ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE-edge,chrome=1")
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %title Team :: Envy Labs
  %link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  %link(href="../stylesheets/application.css" rel="stylesheet")
  / [if lte IE 8]
    %script(src="../javascripts/modernizr.js")

%body
  .site.page-team
    %header
      .cell-a
        %a(href="/" class="logo")
          %img(src="../images/envylabs.png" alt="Envy Labs")
        %ul.nav
          %li <a href="/work">Work<i></i></a>
          %li <a href="/about">About<i></i></a>
          %li <a href="/team" class="active">Team<i></i></a>
          %li <a href="http://blog.envylabs.com">Blog<i></i></a>
          %li <a href="/contact">Contact<i></i></a>
        %h1.head Our Team

    .cell-a
      %h2.h1.head With a flat hierarchy and open business meetings, we work as equals, celebrate as a team, and make fun of each other face to&nbsp;face.

    .cell-b
      %ul.team
        %li
          %a(id="gregg-pollack")
          .thumb
            %img(src="../images/team/gregg-pollack.jpg" alt="Gregg Pollack")
            %a(href="http://github.com/Gregg" class="icn-gh") Gregg on GitHub
            %a(href="http://twitter.com/greggpollack" class="icn-tw") Gregg on Twitter
          %strong Gregg Pollack
          Founder
        %li
          %a(id="nathaniel-bibler")
          .thumb
            %img(src="../images/team/nathaniel-bibler.jpg" alt="Nathaniel Bibler")
            %a(href="http://github.com/nbibler" class="icn-gh") Nathaniel on GitHub
            %a(href="http://twitter.com/nbibler" class="icn-tw") Nathaniel on Twitter
            %a(href="http://nathanielbibler.com" class="icn-ps") Nathaniel's Personal Site
          %strong Nathaniel Bibler
          Developer
        %li
          %a(id="tyler-hunt")
          .thumb
            %img(src="../images/team/tyler-hunt.jpg" alt="Tyler Hunt")
            %a(href="http://github.com/tylerhunt" class="icn-gh") Tyler on GitHub
            %a(href="http://twitter.com/tylerhunt" class="icn-tw") Tyler on Twitter
            %a(href="http://tylerhunt.com" class="icn-ps") Tyler's Personal Site
          %strong Tyler Hunt
          Developer
        %li
          %a(id="thomas-meeks")
          .thumb
            %img(src="../images/team/thomas-meeks.jpg" alt="Thomas Meeks")
            %a(href="http://github.com/thomas" class="icn-gh") Thomas on GitHub
            %a(href="http://twitter.com/thomasmeeks" class="icn-tw") Thomas on Twitter
          %strong Thomas Meeks
          Developer
        %li
          %a(id="jacob-swanner")
          .thumb
            %img(src="../images/team/jacob-swanner.jpg" alt="Jacob Swanner")
            %a(href="http://github.com/jswanner" class="icn-gh") Jacob on GitHub
            %a(href="http://twitter.com/jswanner" class="icn-tw") Jacob on Twitter
            %a(href="http://jacobswanner.com" class="icn-ps") Jacob's Personal Site
          %strong Jacob Swanner
          Developer
        %li
          %a(id="mark-kendall")
          .thumb
            %img(src="../images/team/mark-kendall.jpg" alt="Mark Kendall")
            %a(href="http://github.com/markkendall" class="icn-gh") Mark on GitHub
            %a(href="http://twitter.com/markkendall" class="icn-tw") Mark on Twitter
          %strong Mark Kendall
          Developer
        %li
          %a(id="caike-souza")
          .thumb
            %img(src="../images/team/caike-souza.jpg" alt="Caike Souza")
            %a(href="http://github.com/caike" class="icn-gh") Caike on GitHub
            %a(href="http://twitter.com/caike" class="icn-tw") Caike on Twitter
            %a(href="http://caikesouza.com" class="icn-ps") Caike's Personal Site
          %strong Caike Souza
          Developer
        %li
          %a(id="eric-allam")
          .thumb
            %img(src="../images/team/eric-allam.jpg" alt="Eric Allam")
            %a(href="http://github.com/rubymaverick" class="icn-gh") Eric on GitHub
            %a(href="http://twitter.com/eallam" class="icn-tw") Eric on Twitter
            %a(href="http://rubymaverick.com" class="icn-ps") Eric's Personal Site
          %strong Eric Allam
          Developer
        %li
          %a(id="violette-calhoun")
          .thumb
            %img(src="../images/team/violette-calhoun.jpg" alt="Violette Calhoun")
            %a(href="http://twitter.com/iamvioletta" class="icn-tw") Violette on Twitter
          %strong Violette Calhoun
          Project Manager
        %li
          %a(id="christopher-green")
          .thumb
            %img(src="../images/team/christopher-green.jpg" alt="Christopher Green")
          %strong Christopher Green
          Developer
        %li
          %a(id="jennifer-borders")
          .thumb
            %img(src="../images/team/jennifer-borders.jpg" alt="Jennifer Borders")
          %strong Jennifer Borders
          Project Manager
        %li
          %a(id="jason-vanlue")
          .thumb
            %img(src="../images/team/jason-vanlue.jpg" alt="Jason VanLue")
            %a(href="http://dribbble.com/jasonvanlue" class="icn-dr") Jason on Dribbble
            %a(href="http://twitter.com/jasonvanlue" class="icn-tw") Jason on Twitter
            %a(href="http://jasonvanlue.com" class="icn-ps") Jason's Personal Site
          %strong Jason VanLue
          Designer
        %li
          %a(id="nick-walsh")
          .thumb
            %img(src="../images/team/nick-walsh.jpg" alt="Nick Walsh")
            %a(href="http://github.com/nickawalsh" class="icn-gh") Nick on GitHub
            %a(href="http://dribbble.com/nickawalsh" class="icn-dr") Nick on Dribbble
            %a(href="http://twitter.com/nickawalsh" class="icn-tw") Nick on Twitter
            %a(href="http://nick-walsh.com" class="icn-ps") Nick's Personal Site
          %strong Nick Walsh
          Front-End Developer
        %li
          %a(id="dray-lacy")
          .thumb
            %img(src="../images/team/dray-lacy.jpg" alt="Dray Lacy")
          %strong Dray Lacy
          Developer
        %li
          %a(id="tim-dikun")
          .thumb
            %img(src="../images/team/tim-dikun.jpg" alt="Tim Dikun")
            %a(href="http://dribbble.com/tdikun" class="icn-dr") Tim on Dribbble
            %a(href="http://twitter.com/tdikun" class="icn-tw") Tim on Twitter
            %a(href="http://timdikun.com" class="icn-ps") Tim's Personal Site
          %strong Tim Dikun
          Designer
        %li
          %a(id="tony-winn")
          .thumb
            %img(src="../images/team/tony-winn.jpg" alt="Tony Winn")
            %a(href="http://github.com/twinn" class="icn-gh") Tony on GitHub
            %a(href="http://twitter.com/tony_winn" class="icn-tw") Tony on Twitter
            %a(href="http://concretefeet.com" class="icn-ps") Tony's Personal Site
          %strong Tony Winn
          Developer
        %li
          %a(id="adam-fortuna")
          .thumb
            %img(src="../images/team/adam-fortuna.jpg" alt="Adam Fortuna")
            %a(href="http://github.com/adamfortuna" class="icn-gh") Adam on GitHub
            %a(href="http://twitter.com/adamfortuna" class="icn-tw") Adam on Twitter
            %a(href="http://adamfortuna.com" class="icn-ps") Adam's Personal Site
          %strong Adam Fortuna
          Developer
        %li
          %a(id="josh-vancleef")
          .thumb
            %img(src="../images/team/josh-vancleef.jpg" alt="Josh Van Cleef")
            %a(href="http://github.com/joshvc" class="icn-gh") Josh on GitHub
            %a(href="http://twitter.com/joshvc" class="icn-tw") Josh on Twitter
            %a(href="http://joshvc.com" class="icn-ps") Josh's Personal Site
          %strong Josh Van Cleef
          Developer
        %li
          %a(id="aimee-simone")
          .thumb
            %img(src="../images/team/aimee-simone.jpg" alt="Aimee Simone")
            %a(href="http://twitter.com/aimeebooth" class="icn-tw") Aimee on Twitter
          %strong Aimee Simone
          Developer
        %li
          %a(id="matt-schultz")
          .thumb
            %img(src="../images/team/matt-schultz.jpg" alt="Matt Schultz")
            %a(href="http://github.com/mattschultz" class="icn-gh") Matt on GitHub
            %a(href="http://twitter.com/mattschultz" class="icn-tw") Matt on Twitter
          %strong Matt Schultz
          Developer
        %li
          %a(id="drew-barontini")
          .thumb
            %img(src="../images/team/drew-barontini.jpg" alt="Drew Barontini")
            %a(href="http://github.com/drewbarontini" class="icn-gh") Drew on GitHub
            %a(href="http://dribbble.com/drewbarontini" class="icn-dr") Drew on Dribbble
            %a(href="http://twitter.com/drewbarontini" class="icn-tw") Drew on Twitter
            %a(href="http://drewbarontini.com" class="icn-ps") Drew's Personal Site
          %strong Drew Barontini
          Front-End Developer
        %li
          %a(id="adam-rensel")
          .thumb
            %img(src="../images/team/adam-rensel.jpg" alt="Adam Rensel")
            %a(href="http://github.com/renz45" class="icn-gh") Adam on GitHub
            %a(href="http://twitter.com/adamrensel" class="icn-tw") Adam on Twitter
          %strong Adam Rensel
          Developer
        %li
          %a(id="olivier-lacan")
          .thumb
            %img(src="../images/team/olivier-lacan.jpg" alt="Olivier Lacan")
            %a(href="http://github.com/olivierlacan" class="icn-gh") Olivier on GitHub
            %a(href="http://dribbble.com/olivierlacan" class="icn-dr") Olivier on Dribbble
            %a(href="http://twitter.com/olivierlacan" class="icn-tw") Olivier on Twitter
            %a(href="http://olivierlacan.com" class="icn-ps") Olivier's Personal Site
          %strong Olivier Lacan
          Developer
        %li
          %a(id="justin-mezzell")
          .thumb
            %img(src="../images/team/justin-mezzell.jpg" alt="Justin Mezzell")
            %a(href="http://dribbble.com/justinmezzell" class="icn-dr") Justin on Dribbble
            %a(href="http://twitter.com/justinmezzell" class="icn-tw") Justin on Twitter
            %a(href="http://justinmezzell.com" class="icn-ps") Justin's Personal Site
          %strong Justin Mezzell
          Designer
        %li
          %a(id="dan-mcgaw")
          .thumb
            %img(src="../images/team/dan-mcgaw.jpg" alt="Dan McGaw")
            %a(href="http://github.com/danielmcgaw" class="icn-gh") Dan on GitHub
            %a(href="http://twitter.com/danielmcgaw" class="icn-tw") Dan on Twitter
            %a(href="http://danmcgaw.com" class="icn-ps") Dan's Personal Site
          %strong Dan McGaw
          Business &amp; Marketing
        %li
          %a(id="jay-mcgavren")
          .thumb
            %img(src="../images/team/jay-mcgavren.jpg" alt="Jay McGavren")
            %a(href="http://github.com/jaymcgavren" class="icn-gh") Jay on GitHub
            %a(href="http://twitter.com/jaymcgavren" class="icn-tw") Jay on Twitter
            %a(href="http://jay.mcgavren.com" class="icn-ps") Jay's Personal Site
          %strong Jay McGavren
          Developer
        %li
          %a(id="dan-denney")
          .thumb
            %img(src="../images/team/dan-denney.jpg" alt="Dan Denney")
            %a(href="http://github.com/dandenney" class="icn-gh") Dan on GitHub
            %a(href="http://dribbble.com/dandenney" class="icn-dr") Dan on Dribbble
            %a(href="http://twitter.com/dandenney" class="icn-tw") Dan on Twitter
            %a(href="http://dandenney.com" class="icn-ps") Dan's Personal Site
          %strong Dan Denney
          Front-End Developer
        %li
          %a(id="casey-jenks")
          .thumb
            %img(src="../images/team/casey-jenks.jpg" alt="Casey Jenks")
              %a(href="http://twitter.com/yeabuddy" class="icn-tw") Casey on Twitter
              %a(href="http://caseyjenks.tumblr.com" class="icn-ps") Casey's Personal Site
          %strong Casey Jenks
          Developer
        %li
          %a(id="ashley-smith")
          .thumb
            %img(src="../images/team/ashley-smith.jpg" alt="Ashley Smith")
          %strong Ashley Smith
          Project Manager

  %footer
    .cell-a
      %p.address
        %strong Office:
        189 South Orange Ave &bull; Suite 2010<br />
        Orlando, FL 32801
      %p
        %strong Email:
        %a(href="mailto:hello@envylabs.com") hello@envylabs.com
      %p
        %strong Phone:
        %a(href="tel:407-754-5517") 407-754-5517
      .footer-links
        %ul.nav
          %li
            %a(href="/" class="logo")
              %img(src="../images/envylabs-small.png" alt="Envy Labs")
          %li <a href="/work">Work</a>
          %li <a href="/about">About</a>
          %li <a href="/team">Team</a>
          %li <a href="http://blog.envylabs.com">Blog</a>
          %li <a href="/contact">Contact</a>
        %a(href="http://facebook.com/envylabs" class="icn-fb") Like Envy Labs on Facebook
        %a(href="http://github.com/envylabs" class="icn-gh") Envy Labs on GitHub
        %a(href="http://twitter.com/envylabs" class="icn-tw") Follow Envy Labs

  %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  %script(src="../javascripts/application.js")
  :javascript
    $(function() {
      EL.teamHover('.team li a');
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9740749-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
