!!! 5
<!--[if lte IE 8]><html lang="en" class="ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE-edge,chrome=1")
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %title Contact :: Envy Labs
  %link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  %link(href="../stylesheets/application.css" rel="stylesheet")
  / [if lte IE 8]
    %script(src="../javascripts/modernizr.js")

%body
  .site.page-contact
    %header
      .cell-a
        %a(href="/" class="logo")
          %img(src="../images/envylabs.png" alt="Envy Labs")
        %ul.nav
          %li <a href="/work">Work<i></i></a>
          %li <a href="/about">About<i></i></a>
          %li <a href="/team">Team<i></i></a>
          %li <a href="http://blog.envylabs.com">Blog<i></i></a>
          %li <a href="/contact" class="active">Contact<i></i></a>
        %h1.head Contact Envy Labs

    .cell-a
      %h2.h1.head We would love to work with you.

    .row-c
      .cell-a
        .grid-a.contact-info
          %a(href="mailto:hello@envylabs.com" class="btn-a") hello@envylabs.com
          %h3 407-754-5517
          %p
            %strong The Plaza<br />
            189 South Orange Ave &bull; Suite 2010<br />
            Orlando, FL 32801
        .grid-b.contact-interests
          %h3.h4 We are especially interested in the following areas:
          %ul
            %li Education &amp; Training
            %li Healthcare
            %li Mobile Apps
            %li Digital Products

    .cell-a
      %ul.gallery
        %li(data-large="../images/contact/large/img-office-1.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/6894149354/in/set-72157629362815662") <img src="../images/contact/img-office-1.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-2.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/6894155226/in/set-72157629362815662") <img src="../images/contact/img-office-2.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-3.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/7040255437/in/set-72157629362815662") <img src="../images/contact/img-office-3.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-4.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/6894152238/in/set-72157629362815662") <img src="../images/contact/img-office-4.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-5.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/7040250815/in/set-72157629362815662") <img src="../images/contact/img-office-5.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-6.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/6894159734/in/set-72157629362815662") <img src="../images/contact/img-office-6.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-7.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/7040253357/in/set-72157629362815662") <img src="../images/contact/img-office-7.jpg" alt="The Envy Labs Office" />
        %li(data-large="../images/contact/large/img-office-8.jpg")
          %a(href="http://flickr.com/photos/fivesevenstudios/6894160674/in/set-72157629362815662") <img src="../images/contact/img-office-8.jpg" alt="The Envy Labs Office" />

    .row-a
      .cell-a
        %h2.h3.head What it's like to work with us
        %ol.process
          %li.process-1
            %h3.h2 1. Discovery
            %p We start with a brief 15m phone call to get to know you, your project, and see how many levels of compatibility we have. We need 18 levels of compatibility to continue. Just kidding. If it's a good fit we'll schedule a formal Discovery Meeting where we'll invite you to our offices for a day where we'll scope out your project, discuss design direction, and craft user stories, among other items. After that meeting we'll provide a detailed estimate and project timeline, and get started shortly thereafter.
          %li.process-2
            %h3.h2 2. Design
            %p We believe design and development should be seamless not mutually exclusive. Otherwise you'll have a functional product that is terrible to look at, or a beautiful product that has terrible functionality. We start with the brand development phase, working with you to either establish or further refine your brand and brand strategy. We then move into information architecture and user experience, carefully crafting optimal user flows for the product. The visual design and front-end development phase is ongoing, and usually blends into the development phase to provide a seamless design and development experience.
          %li.process-3
            %h3.h2 3. Develop
            %p Form does follow function, which is why our developers are heavily involved in the project long before the actual 'development' phase starts. Both our design and development process follows the Agile model, where we break the project down into smaller feature cycles. Because one of our core values is education, we are always teaching and learning from each other. This produces an environment where our code is always tested, scalable and fast, and laced with best practices.
          %li.process-4
            %h3.h2 4. Deploy
            %p The reason for hiring us is, after all, to help you launch a successful product. Not only are we professional designers and expert developers, we also have a penchant for deploying awesome applications. We’ll help you develop a launch and marketing strategy along with an ongoing support plan. And since we partner with our clients, we’re always looking into the future to help discover new opportunities and features to make your product better.

    .cell-a.head
      %a(href="mailto:hello@envylabs.com" class="btn-a") hello@envylabs.com

  %footer
    .cell-a
      %p.address
        %strong Office:
        189 South Orange Ave &bull; Suite 2010<br />
        Orlando, FL 32801
      %p
        %strong Email:
        %a(href="mailto:hello@envylabs.com") hello@envylabs.com
      %p
        %strong Phone:
        %a(href="tel:407-754-5517") 407-754-5517
      .footer-links
        %ul.nav
          %li
            %a(href="/" class="logo")
              %img(src="../images/envylabs-small.png" alt="Envy Labs")
          %li <a href="/work">Work</a>
          %li <a href="/about">About</a>
          %li <a href="/team">Team</a>
          %li <a href="http://blog.envylabs.com">Blog</a>
          %li <a href="/contact">Contact</a>
        %a(href="http://facebook.com/envylabs" class="icn-fb") Like Envy Labs on Facebook
        %a(href="http://github.com/envylabs" class="icn-gh") Envy Labs on GitHub
        %a(href="http://twitter.com/envylabs" class="icn-tw") Follow Envy Labs

  .lightbox
    .photo
      %img(src="../images/contact/large/img-office-1.jpg" alt="The Envy Labs Office")
      %a.close(href="#") Close
      %a.prev(href="#") Previous Image
      %a.next(href="#") Next Image
    .overlay

  %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  %script(src="../javascripts/application.js")
  :javascript
    $(function() {
      new EL.Gallery('.gallery li', '.lightbox', '.close', '.prev', '.next');
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9740749-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
